# Python
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/

# VSCode
.vscode/

# macOS
.DS_Store

# Swift
.build/
DerivedData/

# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Logs
outputs/

# Environment
.env

# Ollama
*.gguf

# Notes
notes.txt

# Local agents tests
test_developer.py
test_filesystem.py
test_reviewer.py
test_teacher.py